// Place all the styles related to the api/Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.events-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 25px;
}

.event-date-time {
    color: #C14B24;
    font-size: 14px;
    padding-bottom: 5px;
    font-weight: 500;
}

.bottom-card {
    height: 125px;
    width: 295px;
    padding: 30px 20px;
    box-sizing: border-box;
    background-color: white;
}

.event-description {
    font-weight: 600;
    font-size: 18px;
    letter-spacing: .2;
}

.image-wrap {
    width: 100%;
    height: 170px;
    background-size: cover;
    background-position: center;
}

// Event Show Page CSS

.event-show-container {
    display: flex;
    flex-direction: column;
    margin-top: 25px;
}

.show-container-top {
    display: flex;
    // background-image: radial-gradient(farthest-corner at 100px 100px, 
    // #717B32 0%, #5D422D 10%, #202021 100%);
}
// #717B32  #5D422D

.event-show-card-right {
    box-sizing: border-box;
    padding: 10px;
    background-color: #EAEAE9;
    border-top-right-radius: 5px;
    height: 370px;
    width: 40%;
}

.event-show-image {
    width: 60%;
    height: 370px;
    border-top-left-radius: 5px;
}

.under-header-container {
    height: 65px;
    padding-right: 20px;
    border-bottom: solid 1px gainsboro;
    background-color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.event-show-banner {
    height: 400px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 40px;
}

.event-show-banner-left {
    width: 50%;
}

.event-show-background {
    height: 510px;
    background-image: url("http://yogapattern.com/show-gradient.png");
}

.event-show-content-section {
    background-color: #F8F7FA;
    position: relative;
}

.inner-content {
    margin-left: 100px;
    margin-right: 100px;
    position: absolute;
    background-color: white;
    top: -34px;
    width: 1040px;
}


// End Event Show Page CSS

.individual-event {
    align-items: center;
    margin: 15px;
    flex-grow: 1;
    box-shadow: 20px 20px 30px 30px rgba(0, 0, 0, .03);
    transition: 0.4s;
    &:hover {
        box-shadow: 20px 20px 30px 30px rgba(0, 0, 0, .09);
    }
    max-width: 375px;;
}

.individual-event a {
    text-decoration: none;
    color: black;
}

.events-container img {
    width: 100%;
}

.category-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-right: 300px;
    font-size: 12px;
    padding-left: 20px;
}

.popular-in {
    margin-left: 40px;
    margin-bottom: 20px;
}

.online-events {
    opacity: .4;
    &:hover {
        color: blue;
        opacity: .8;
    }
}

.nav-item-1 {
    height: 30px;
    font-weight: 500;
    padding-bottom: 10px;
}

.nav-item-1:hover {
    border-bottom: 2px solid black;
}

.category-nav-list {
    height: 40px;
    list-style: none;
}

.category-nav a {
    text-decoration: none;
    color: black;
    opacity: .6;
}

.home-page-map {
    width: 94%;
    padding: 40px;
}

.home-page-banner {
    background-image: url("http://yogapattern.com/background-image.png");
    height: 300px;
    width: 1000px;
}

.register-button {
    border-radius: 5px;
    transform: translateZ(0);
    background-color: #0D8547;
    border-style: none;
    width: 322px;
    height: 47px;
    opacity: 1;
    color: whitesmoke;
    letter-spacing: .2px;
    transition: all .4s cubic-bezier(.4,0,.3,1);
}

.register-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

.event-form {
    margin: auto;
}

.event-title-input {
    width: 610px;
    opacity: .6;
}

.event-category-input {
    height: 35px;
    width: 300px;
    margin-right: 20px;
    opacity: .6;
    padding: 5px;
    opacity: .6;
}

.event-price-input {
    width: 195px;
    margin-right: 20px;
    opacity: .6;
}

.event-location-input {
    width: 395px;
    opacity: .6;
}

.max-attend-input {
    width: 200px;
    opacity: .6;
}

.event-form-container {
    display: flex;
    align-items: center;
}

.create-event-p {
    padding-bottom: 10px;
}
