// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

header {
    margin: auto;
    text-align: center;
}

body {
    font-family: Neue Plak,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;
    font-weight: 400;
    color: var(--eds-ui-800,#39364f);
}

.login-signup {
    margin: auto;
    text-align: center;
}

.email-verify {
    margin: auto;
    text-align: center;
    padding-top: 20px;
}

.login-button {
    border-radius: 5px;
    background-color: orange;
    border-style: none;
    width: 300px;
    height: 50px;
    opacity: 1,
    
}

.login-button:hover {
    opacity: 0.6
}

input {
    width: 290px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
}