// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

.searchContainer {
    display: inline-flex;
    flex: 1 1 300px;
    border-radius: 5px;
    overflow: hidden;
    margin-left: 20px;
}

.search-box {
    border: none;
    padding-left: 35px;
    width: 515px;
    height: 50px;
    margin-left: 10px;
    flex: 1;
    background-color: #F8F7FA;
}

.search-icon {
    opacity: .6;
    position: absolute;
    margin-left: 18px;
    margin-top: 18px;
}

.search-header {
    justify-content: flex-start;
    padding-left: 10px;
}

.boxy {
    margin-left: 70px;
    width: 520px;
    height: 230px;
    background-image: url("http://yogapattern.com/add-image-background.png");
}

.heightUpload {
    height: 230px;
    width: 520px;
    border-radius: 3px;
}

.main-container {
    width: auto;
}

.header-container {
    display: flex;
    // justify-content: center;
    justify-content: space-between;
    align-items: center;
    height: inherit;
    width: 100vw;
    padding-left: 5px;
}

header {
    height: 80px;
    display: flex;
    flex-direction: row;
    // align-items: center;
    justify-content: center;
}

.dropbtn {
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.pos-ab {
    z-index: -4;
    height: 50px;
    width: 50px;
}

.dropbtn:hover {
    opacity: .5;
    background-color:#F7F6F9;
    cursor: pointer;
}

.dropdown {
    position: relative;    
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    font-size: 14px;
    color: black;
    letter-spacing: .2;
    // height: 100%;
    width: 60px;
}

.dropdown-content {
    position: absolute;
    background-color: white;
    min-width: 270px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 70px;
    text-align: left;
    font-family: initial;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {
    background-color: #F7F6F9;
}

.show {display:block;}

.welcome-header > img {
    height: 30px;
    width: 30px;
}

.hidden {
    display: none;
}

.signin-header {
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    font-size: 14px;
    color: black;
    letter-spacing: .2;
    height: 50px;
    width: 60px;
}

.no-style {
    color: black;
    text-decoration: none;
}

.signin-header:hover {
    cursor: pointer;
    background-color: #F7F6F9;
}

body {
    font-family: Neue Plak,-apple-system,BlinkMacSystemFont,Roboto,Helvetica Neue,Helvetica,Tahoma,Arial,sans-serif;
    font-weight: 400;
    color: var(--eds-ui-800,#39364f);
    background-color: #FFFFFF;
}

.form-container {
    margin: auto;
    width: 325px;
}

a {
    text-decoration: none;
}


.login-signup {
    margin: auto;
    text-align: center;
}

.login-instructions {
    font-size: 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px 12px 32px;
    color: #6f7287;
}

.login-welcome {
    margin: auto;
    text-align: center;
}

.email-verify {
    margin: auto;
    text-align: center;
    padding-top: 20px;
}

.login-button {
    border-radius: 5px;
    transform: translateZ(0);
    background-color: var(--eds-primary-brand,#d1410c);
    border-style: none;
    width: 322px;
    height: 47px;
    opacity: 1;
    color: whitesmoke;
    letter-spacing: .2px;
    transition: all .4s cubic-bezier(.4,0,.3,1);
    margin-bottom: 10px;
}

.login-signup-greeting {
    font-size: 24px;
    line-height: 22px;
    font-weight: 600;
}

.signup-login-text {
    text-decoration: none;
    color: black;
}

.login-button:hover {
    opacity: 0.6;
    cursor: pointer;
}

input {
    width: 322px;
    height: 47px;
    transition: padding .16s cubic-bezier(.4,0,.3,1),color .4s cubic-bezier(.4,0,.3,1);
    box-sizing: border-box;
    padding: 8px;
}

.input-email {
    margin-bottom: 20px;
}

.logo-small {
    margin-top: 50px;
    // height: 50px;
    width: 50px;
    padding-bottom: 20px;
}

.logo-right {
    display: flex;
    // float: left;
    justify-content: center;
    align-items: center;
}

.logo-right img {
//     display: flex;
//     float: left;
    width: 110px;
    height: auto;
    margin-left: 20px;
//     padding-top: 10px;
}

.errors-list {
    list-style: none;
    font-size: 12px;
    color: #c42421;
    margin: 0px;
    padding: 0px;
    padding-top: 5px;
    text-align: left;
}

.input-error {
    border: 1px solid #B62D35
}

.log-in-instead {
    color: #3B68DF;
    font-weight: 300;
    font-size: 12px;
    letter-spacing: .2;
}

.log-in-instead:hover {
    cursor: pointer;
}

// Begin footer CSS

.footer-container {
    height: 80px;
    background-color: #1B0D39;
    display: flex;
    align-items: center;
}

.footer-content li {
    color: white;
    padding: 20px;
    display: inline;
}

.unstyled-link {
    text-decoration: none;
    color: white;
    &:hover {
        color: #4060E7;
        text-decoration: underline;
    }
}

.footer-links {
    list-style: none;
}